body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
br.responsive-br {
    display: none;
}
.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: inline-block;

}

#alert{
    box-sizing: border-box;
    display: none;
    color: #691911;
    font-weight: 400;
    font-size: 16px;
    background-color: #f4d6d2;
    padding: 12px 20px;
    border-radius: .5rem;
    margin-bottom: 15px;
    width: 95%;
}

#bg {
    width: 100%;
    height: 100%;

}

img {
    width: 100%;

    object-fit: cover;
}

#login-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 58%;
    height: 49%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 446;
}

#login-form {
    width: 50%;
    margin: 2rem;
    padding: 1rem;
    margin-right: 0px;
    padding-right: 0px;

    border-right: 1px solid #dee2e6;
    background-color: rgb(255, 255, 255);
}

#comment {
    width: 50%;
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0px;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
}

#logo {
    width: 95%;

}

input.in:-webkit-autofill {
    background-color: white !important;
    /* 設定為你想要的背景色 */
    color: inherit !important;
    /* 繼承文字顏色 */
    border: 1px solid #8f959e !important;
    /* 繼承邊框樣式 */
    transition: background-color 5000s ease-in-out 0s;
    /* 防止背景色閃爍 */
}

.in {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.171875rem;
    line-height: 1.5;
    width: 95%;
    border: 1px solid #8f959e;
    border-radius: .6rem;

    &:focus {
        border: 3px solid #ca3120;
        outline: none;
    }


    &:active {
        border: 3px solid #ca3120;
        outline: none;
    }

    &:disabled {
        border: 1px solid #8f959e;
        outline: none;
    }
}

.sub {
    width: 95%;
    height: 3rem;
    color: white;
    font-size: 1.2rem;
    border-radius: .6rem;
    border: none;
    cursor: pointer;

    color: #fff;
    background-color: #99000F;
    border-color: #99000F;

    &:hover {
        background-color: #73000b;
        transition: all 0.3s ease-in-out;
    }
}

#content {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    /* 垂直排列子元素 */
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.language-selector {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    
}

.selected {
    color: #b00000;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid transparent;
    padding: 5px 10px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
}

.dropdown div {
    padding: 10px;
    font-size: 15px;
    color: #302e2e;
}

.dropdown div:hover {
    background-color: #f0f0f0;
}

.language-selector.open .dropdown {
    display: block;
}

.arrow {
    margin-left: 3px;
    margin-bottom: 3px;
    border: solid #b00000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(45deg);
}
.fa {
    background-color: #b00000;
    font-size: 10px;
    font-weight: 800;
    border-radius: 20px;
    color: #fff;
    width: 13px;             
    height: 13px;
    margin-top: 3px;
    
}
.fa-t {
    color: #b00000;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    margin-top: 5px;
    top: 0px;
}

.f{
    display: flex;
    margin-top: 50px;
}
.nid{
    font-size: large;

}
.ba{
    color: #efefef;
    justify-content: center;
    
    position: absolute;
    bottom: 0%;
    background-color: rgba(25, 25, 25, .9);
    width: 100%;
    height: 80px;
    z-index: 1;
    font-size: 12px;
    line-height: 1.2em;
    text-align: center;
}
#con{
    color: #f6a21d;
    font-size: 14px;
    font-weight: bolder;
}
#tt{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
#tt > div {
    flex: 1 1 100%;          /* 每個 div 佔滿一行（可調整） */
    
}
#cb{
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
}
@media screen and (max-width: 1440px) {
    #login-container {
        flex-direction: column;
        width: 90%;
        height: auto;
        top: 50%;
        padding: 1rem;
    }

    #login-form {
        width: 100%;
        border-right: none;
        margin: 1rem 0;
        padding: 1rem;
        background:none;
    }

    #comment {
        width: 100%;
        margin: 0;
        padding: 1rem;
        background:none;
    }

    #content {
        margin: 0;
        padding: 2rem 1rem;
        font-size: 1.2rem;
    }

    .in {
        font-size: 1rem;
        height: calc(1.2em + 0.8rem + 2px);
        padding: 0.4rem 0.8rem;
    }

    .sub {
        font-size: 1rem;
        height: 2.5rem;
    }

    #logo {
        width: 70%;
        margin: 0 auto;
    }

    .nid {
        font-size: medium;
    }

    .f {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .fa-t {
        margin-top: 10px;
    }

    .ba {
        height: auto;
        
    }
}
@media screen and (max-width: 768px) {
    body{
        height: 100%;
    }
    .ba{
        display: none;
    }
    #bg{
        height: 100%;
    }
    #login-container {
        width: 83%;
        height: auto;
        top: 40%;
        
        padding: 1rem;
    }
    #login-form {
        box-sizing: border-box;
        width: 95%;
        margin: auto;
        padding-bottom: 0px;
    }
    #logo{
        width: 100%;
        margin: 0;
    }
    .in{
        width: 100%;
        height: calc(1.5em + 1rem + 2px);
    }
    .sub {
        width: 100%;
    }
    #comment {
        width: 100%;
        box-sizing: border-box;
        margin: auto;
    }
    #content {
        padding-top: 0;
        box-sizing: border-box;
    }
    .nid{
        font-size: large;
        
    }
    br.responsive-br {
      display: block;
    }
    .f{
        
        flex-direction: row;
    }
}
